<% if current_user %>
  <h4>Add a comment:</h4>
  <%= form_for [topic, post, comment] do |f| %>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 4, class: 'form-control', placeholder: "Enter comment" %>
    </br>
    <%= f.submit %>
  <% end %>
<% end %>